
*{

margin:0;

padding:0;

box-sizing:border-box;

font-family:Arial,sans-serif;

}


body{

background:#0f172a;

color:white;

}


header{

text-align:center;

padding:50px;

}


.foto{

width:220px;

height:220px;

border-radius:50%;

object-fit:cover;

border:5px solid #38bdf8;

margin-bottom:20px;

}


h1{

font-size:50px;

}


header p{

font-size:22px;

color:#94a3b8;

}


section{

max-width:1000px;

margin:auto;

padding:40px;

}


h2{

font-size:35px;

margin-bottom:20px;

color:#38bdf8;

}


section p{

font-size:22px;

line-height:1.8;

}


ul{

padding-left:30px;

}


li{

font-size:22px;

margin-bottom:15px;

}


.cards{

display:flex;

gap:20px;

flex-wrap:wrap;

}


.card{

background:#1e293b;

padding:20px;

border-radius:15px;

font-size:22px;

transition:0.3s;

}


.card:hover{

transform:translateY(-10px);

background:#38bdf8;

color:black;

}


footer{

text-align:center;

padding:50px;

font-size:18px;

color:#94a3b8;

}
